.link {
  fill: none;

  cursor: pointer; // TODO: Make configurable
  stroke-opacity: 0.5; // TODO: Make configurable

  &:hover {
    stroke-opacity: 0.8; // TODO: Make configurable
  }
}

.link-name {
  font-family: 'Lato';
  text-anchor: middle;
  alignment-baseline: central;
  font-weight: 300;
}
