<div class="welcome">
  <h1>Angular d3</h1>
  <h2>A new Angular library leveraging the power of d3</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut enim rhoncus, hendrerit risus ac, sagittis tortor. Vestibulum bibendum tincidunt lacus, et tristique sem luctus eu. Suspendisse ut ipsum ac sapien scelerisque hendrerit. Phasellus finibus massa non cursus sagittis. Proin vel sem gravida, iaculis libero sit amet, mollis risus. Nullam in nisi condimentum, facilisis turpis vitae, feugiat tellus. Cras faucibus ligula in gravida dictum. Proin tristique, elit laoreet iaculis euismod, nisl dolor semper augue, mattis egestas lectus arcu at turpis. Vestibulum non ex a dolor faucibus blandit at vitae augue.</p>
  <p>Curabitur in diam libero. Donec euismod dictum rhoncus. Pellentesque lacinia lectus at felis vulputate, in bibendum nulla consequat. Donec tristique maximus urna, pretium sagittis eros vestibulum ut. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce eget eros tellus. Morbi imperdiet nulla quis nisl bibendum lacinia. Vivamus sed volutpat nibh, elementum suscipit sem. Maecenas porttitor nulla et dui facilisis, venenatis consectetur purus aliquam. Sed at arcu sed arcu tincidunt euismod. Praesent vel aliquet ex, ut interdum velit. Nam scelerisque ipsum vitae ligula vehicula consequat non sit amet metus. Suspendisse metus est, faucibus nec venenatis et, vulputate at ligula. Morbi tincidunt ligula non quam dictum pretium. Praesent convallis vulputate mollis. Curabitur sed ipsum at turpis fermentum suscipit ac non urna.</p>
</div>
<div class="d3-list">
  <a class="d3-list-option">Force Directional Nodes</a>
  <a class="d3-list-option">Sankey Diagram</a>
</div>
<section id="force-directed-graph">
  <h2>Force directed Graph</h2>
  <d3-force-directed-graph [nodes]="forceDirectedNodes" [links]="forceDirectedLinks"></d3-force-directed-graph>
</section>
<section id="sankey-diagram">
  <h2>Sankey diagram</h2>
  <d3-sankey-diagram [nodes]="sankeyDiagramNodes" [links]="sankeyDiagramLinks" [options]="sankeyDiagramOptions"></d3-sankey-diagram>
</section>
