.node {
  cursor: pointer;

  stroke: black; // TODO: Make this configurable
  stroke-width: 1px; // TODO: Make this configurable
}

.node-name {
  font-family: 'Lato';
  alignment-baseline: central;
  font-weight: bold;
  font-size: 1em; // TODO: Make this configurable
  fill: #000; // TODO: Make this configurable
}
